absl-py==1.3.0
astunparse==1.6.3
boto3==1.15.18
botocore==1.18.18
cachetools==5.2.0
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
Cython==0.29.32
filelock==3.8.0
Flask==2.2.2
flatbuffers==22.9.24
gast==0.4.0
gcloud==0.17.0
gluonnlp==0.10.0
google-auth==2.13.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.4
graphviz==0.8.4
grpcio==1.50.0
h5py==3.7.0
httplib2==0.21.0
huggingface-hub==0.0.12
idna==3.4
importlib-metadata==5.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
jws==0.1.3
keras==2.10.0
Keras-Preprocessing==1.1.2
git+https://git@github.com/SKTBrain/KoBERT.git@master
libclang==14.0.6
Markdown==3.4.1
MarkupSafe==2.1.1
mxnet==1.7.0.post2
nltk==3.7
numpy==1.21.6
oauth2client==3.0.0
oauthlib==3.2.2
onnxruntime==1.8.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.3.5
protobuf==3.19.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycryptodome==3.4.3
pyparsing==3.0.9
Pyrebase==3.0.27
python-dateutil==2.8.2
python-jwt==2.0.1
pytz==2022.4
PyYAML==6.0
regex==2022.9.13
requests==2.11.1
requests-oauthlib==1.3.1
requests-toolbelt==0.7.0
rsa==4.9
s3transfer==0.3.7
sacremoses==0.0.53
sentencepiece==0.1.96
six==1.16.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.10.0
tensorflow-estimator==2.10.0
tensorflow-io-gcs-filesystem==0.27.0
termcolor==2.0.1
tokenizers==0.10.3
torch==1.10.1
tqdm==4.64.1
transformers==4.8.1
typing-extensions==4.4.0
urllib3==1.25.11
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.9.0
